
@{
    ViewData["Title"] = "Zamówienie";
}

<h2>Zamówienie</h2>

<div class="form-group"> 
        <input type="submit" name="Client" value="Otwórz nowe zamówienie" class="btn btn-success" />
</div>

