
@{
    ViewData["Title"] = "Lista zamówień";
}

<h2>Menu</h2>

<div class="mean_menu">
    <!--  left menu row  -->
        <ul>
            <li>
                <div class="item_info">
                    <h3 class="item_name">MAFIA</h3>
                    <p class="item_desc">sos pomidorowy, ser, szynka, cebula, pieczarki, bekon, ogórek konserwowy.</p>
                </div>
                <h4 class="cena">16.50//20.00//37.00</h4>
                <span class="separator"></span>
            </li>
            <li>
                <div class="item_info">
                    <h3 class="item_name">CALABRESE</h3>
                    <p class="item_desc">sos pomidorowy, ser, pieczarki, kiełbasa pikantna, cebula, oliwk.</p>
                </div>
                <h4 class="cena">16.50//20.00//37.00</h4>
                <span class="separator"></span>
            </li>
            <li>
                <div class="item_info">
                    <h3 class="item_name">MEXICANA</h3>
                    <p class="item_desc">sos pomidorowy, ser, szynka, kukurydza, cebula, pieczarki, bekon, ogórek konserwowy.</p>
                </div>
                <h4 class="cena">16.50//20.00//37.00</h4>
                <span class="separator"></span>
            </li>
            <li>
                <div class="item_info">
                    <h3 class="item_name">FORTE</h3>
                    <p class="item_desc">sos pomidorowy, ser, szynka, cebula, pieczarki, bekon, ogórek konserwowy.</p>
                </div>
                <h4 class="cena">16.50//20.00//37.00</h4>
                <span class="separator"></span>
            </li>
        </ul>
</div>